nav{
  margin: 10px 0 20px 0;
}

.logo-txt{
     font-family: Pacifico;
     color: #fff;
     font-size: 6em;
     width: 100%;
     vertical-align: middle;
     margin-top: 1em;
      text-align: top;
 }
